[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]
[%# Note that error messages should generally be indented four spaces, like
  # below, because when Bugzilla translates an error message into plain
  # text, it takes four spaces off the beginning of the lines.
  #%]
[% IF error == "dashboard_access_denied" %]
    [% title = "Access denied" %]
    You do not have permission to access dashboard features on this
    [% terms.Bugzilla %] installation.
[% ELSIF error == "overlay_does_not_exist" %]
    [% title = "Does not exists" %]
    Overlay with id [% id %] does not exist
[% ELSIF error == "overlay_access_denied" %]
    [% title = "Not allowed to access overlay" %]
    You are not allowed to access overlay with ID [% id %].
    You are not the owner or it is not shared.
[% ELSIF error == "overlay_edit_denied" %]
    [% title = "Not allowed to edit overlay" %]
    You are not allowed to modify overlay with ID [% id %].
    You are not the owner.
[% ELSIF error == "overlay_publish_denied" %]
    [% title = "Not allowed to publish overlay" %]
    You are not authorized to publish this overlay
[% ELSIF error == "widget_does_not_exist" %]
    [% title = "Does not exists" %]
    Widget with id [% id %] does not exist
[% ELSIF error == "widget_edit_denied" %]
    [% title = "Not allowed to edit widget" %]
    You are not allowed to modify widget [% id %].
    You are probably not the owner.
[% END %]
