[%# Note that error messages should generally be indented four spaces, like
  # below, because when Bugzilla translates an error message into plain
  # text, it takes four spaces off the beginning of the lines. 
  #
  # Note also that I prefixed my error name with "example", the name of my
  # extension, so that I wouldn't conflict with other error names in
  # Bugzilla or other extensions.
  #%]
[% IF error == "dashboard_illegal_id" %]
    [% title = "Fatal Error" %]
    Your request contained an illegal overlay, widget, or user ID.
[% ELSIF error == "dashboard_max_columns" %]
    [% title = "Fatal Error" %]
    Cannot create new column, maximum reached!
[% ELSIF error == "dashboard_column_nonempty" %]
    [% title = "Fatal Error" %]
    You must remove widgets from the last column before deleting it!
[% ELSIF error == "dashboard_last_column" %]
   [% title = "Fatal Error" %]
   You cannot delete the last column.
[% ELSIF error == "dashboard_max_widgets" %]
   [% title = "Fatal Error" %]
   Cannot create new widget, maximum number reached!
[% ELSIF error == "dashboard_not_found" %]
   [% title = "Fatal Error" %]
   Cannot load, preferences not found!
[% ELSIF error == "dashboard_invalid_type" %]
   [% title = "Fatal Error" %]
   Your request contained an invalid widget type.
[% ELSIF error == "dashboard_invalid_color" %]
   [% title = "Fatal Error" %]
   Your request contained an invalid color name.
[% END %]
