[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Example Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2008
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s): Bradley Baetz <bbaetz@acm.org>
  #%]
[%
    title = "Dashboard"
    desc = "Dashboard extension"
%]

[% param_descs = {
  dashboard_browsers_warn => "Regexp for browser UserAgents to be warned",
  dashboard_browsers_block => "Regexp for browser UserAgents to be blocked",
  dashboard_rss_max_items => "How many items rss widget can display at a time.",
  dashboard_rss_color_new => "Color for RSS item that was just displayed",
  dashboard_rss_color_unread => "Color for RSS item that is not read yet",
  dashboard_rss_color_read => "Color for RSS item that has been read",
}
%]
