[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Example Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2009
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s): 
  #   Allan Savolainen <ext-jari.a.savolainen@nokia.com>
  #%]
  <!-- [% debug_info %] //-->

  [% IF widget %]
  <div class="widget_inner">
    <script>
      [% IF widget.controls %]
        Dashboard.addWidgetControls('widget[% widget.id %]');
      [% END %]
      var thisWidgetSettings = Dashboard.getWidgetSettings("widget"+[% widget.id %]);
      
      
      [% IF widget.minimized %]
        $("#widget[% widget.id %] .widget-content").hide();
      [% END %]
      [% IF widget.resized %]
        $("#widget[% widget.id %] .widget-content").height([% widget.height %]);
        thisWidgetSettings.resized=true;
      [% END %]
      function widget[% widget.id %]_change_mode(mode,param){
        if (mode=='url') {
          if (param) {
          	var url = param;
          }
          else var url = $('#widget[% widget.id %]_url').val();
          $("#widget[% widget.id %] .widget-content .widget_inner").html('<iframe id="widget[% widget.id %]_iframe" class="widget_iframe" frameborder="0" scrolling="auto" src="'+url+'"></iframe>');
          
          $(window).unbind("resize.widget[% widget.id %]");
          $(window).bind("resize.widget[% widget.id %]",function() {
            var x = $("#widget[% widget.id %] .widget-content").width();
            $("#widget[% widget.id %]_iframe").width(x);
            if ($('#maximized').parent().parent().attr("id")=="widget[% widget.id %]")
              var y = $(window).height()-15;
            else
              var y = $("#widget[% widget.id %] .widget-content").height()-5;
            $("#widget[% widget.id %]_iframe").height(y);
          });
          $("#widget[% widget.id %] .widget-content").unbind("resize.widget[% widget.id %]");
          $("#widget[% widget.id %] .widget-content").bind("resize.widget[% widget.id %]",function() {
            var y = $("#widget[% widget.id %] .widget-content").height()-5;
            $("#widget[% widget.id %]_iframe").height(y);
          });
          $(window).trigger("resize");
          $("#widget[% widget.id %] .widget-content").trigger("resize");
        }
        else alert('Unknown mode');
        return false;
      }
      [% IF widget.widget_URL %]
      	widget[% widget.id %]_change_mode('url','[% widget.widget_URL %]');
	$('#widget[% widget.id %]_url').val('[% widget.widget_URL %]');
      [% END %]
    </script>

    [% SWITCH widget.mode %]
    [%   CASE %]
<!--
<input id="widget_url[% widget.id %]" type="text" name="koe" value="">
<input type="button" value="Open URL" onclick="return change_mode_[% widget.id %]('url');">
//-->
    [% END %]
  </div>
  [% ELSE %]

  [% END %]
