[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Example Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2009
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s): 
  #   Allan Savolainen <ext-jari.a.savolainen@nokia.com>
  #%]

  <p id="debug">[% debug_info %]</p>

  <hr>

  [% IF widget %]
    <script>
      Dashboard.addWidgetControls('widget[% widget.id %]');
      var thisWidgetSettings = Dashboard.getWidgetSettings("widget"+[% widget.id %]);
      [% IF widget.minimized %]
        $("#widget[% widget.id %] .widget-content").hide();
      [% END %]
      [% IF widget.resized %]
        $("#widget[% widget.id %] .widget-content").height([% widget.height %]);
        thisWidgetSettings.resized=true;
      [% END %]
    </script>
    [% widget.minimized %]
  [% END %]