[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Example Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2009
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s):
  #   David Wilson <ext-david.3.wilson@nokia.com>
  #   Stephen Jayna <ext-stephen.jayna@nokia.com>
  #   Allan Savolainen <ext-jari.a.savolainen@nokia.com>
  #   Pami Ketolainen <pami.ketolainen@gmail.com>
  #%]

[% USE Bugzilla %]

[% header = BLOCK %]
    Dashboard
    <span id="buttons">
        &nbsp;
        <a id="button-overlay" title="Open Overlay"></a>
        <a id="button-save-widgets" title="Save Overlay"></a>
        <a id="button-clear-workspace" title="Clear workspace"></a>
        &nbsp;&nbsp;
        <a id="button-new-url" title="New URL"></a>
        <a id="button-new-bugs" title="New Bugs"></a>
        <a id="button-new-mybugs" title="New My Bugs"></a>
        <a id="button-new-rss" title="New RSS"></a>
        <a id="button-new-text" title="New Text"></a>
        &nbsp;&nbsp;
        <a id="button-add-column" title="Add column"></a>
        <a id="button-del-column" title="Delete column"></a>
        <a id="button-reset-columns" title="Reset column widths"></a>
    </span>

    &nbsp;
    <span id="dashboard_notify"></p>
[% END %]

[% javascript = BLOCK %]
    var DASHBOARD_CONFIG = [% dashboard_config || 'null' %];
[% END %]

[% PROCESS global/header.html.tmpl
    title = "Bugzilla Dashboard"
    style_urls = [
        "extensions/Dashboard/web/css/dashboard.css",
        "extensions/Dashboard/web/css/colorbox.css",
        "extensions/Dashboard/web/css/tablesorter.css"]

    javascript_urls = [
        "extensions/Dashboard/web/js/colResizable-1.3.min.js",
        "extensions/Dashboard/web/js/jquery.colorbox-min.js",
        "extensions/Dashboard/web/js/jquery.tablesorter.min.js",
        "extensions/Dashboard/web/js/jquery.csv.min.js",
        "extensions/Dashboard/web/js/dashboard.js",
        "extensions/Dashboard/web/js/widget_bugs.js"]
%]

<table id="overlay" style="width:90%;">
<tr id="overlay-header"></tr>
<tr>
    <td id="overlay-top" class="overlay-column" valign="top"></td>
</tr>
<tr id="overlay-columns"></tr>
</table>

<br clear="both">


<div style="display: none;"> <!-- hide templates -->
    <div align="center" id="dash-template-loader">
        <img class="loader"
            src="extensions/Dashboard/web/css/img/ajax-loader.gif">
    </div>

    <!-- Overlay templates -->

    <div id="dash-template-browser_warning">
        <p style="color: red">
        Your web browser is not fully tested with the Dashboard, please use
        Firefox if you experience problems.
        </p>
    </div>

    <div id="dash-template-browser_block">
        <h2 style="text-align: center">Your web browser is not compatible with
        Dashboard; please use Firefox instead.</h2>
    </div>

    <div id="dash-template-welcome-text">
        <p>To begin, please load an existing overlay using the Open icon in the
        toolbar above, or alternatively you may clear the workspace and begin
        building a new overlay from scratch.</p>

        <p>The current workspace available in this session will not be saved
        until you explicitly write the changes to a new or existing overlay,
        using the Save icon above.</p>
    <div>

    <div id="dash-overlay-open">
        <strong>Load Overlay</strong>
        <table class="overlay-list" width="100%"><tbody></tbody></table>
    </div>

    <table id="dash-template-overlay-entry">
    <tr>
        <td align="right" valign="top">
            <a class="load_link"><span class="name"></span></a>
            <span class="can-publish">[<a class="publish_link">ok</a>]</span>
        </td>
        <td valign="top">
            <span class="description is-workspace"></span>
            <br>
            <small>
                <span class="modified"></span>,
                <span class="login"></span>
            </small>
            <span class="can-publish">
            </span>
        </td>
    </tr>
    </table>

    <div id="overlay-save">
        <strong>Save Overlay</strong>
        <form name="overlay-save">
            <table>
                <tr>
                    <th>Overlay name:</th>
                    <td><input name="name" size="32"></td>
                </tr>

                <tr>
                    <th>Description:</th>
                    <td><input name="description" size="32"></td>
                </tr>
                <tr>
                    <th>Shared</th>
                    <td>
                        <input id="overlay_shared" type="checkbox"/>
                        <div class="requires-admin">
                            <small><br>requires<br>admin<br>approval</small>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>


    <!-- Widget templates -->

    <div class="ui-widget" id="widget-template">
        <div class="ui-widget-header">
            <div class="widget-title"></div>
            <button name="maximize" title="Maximize"
                class="ui-icon ui-icon-circle-plus ui-corner-all">+</button>
            <button name="minimize" title="Minimize"
                class="ui-icon ui-icon-circle-minus ui-corner-all">-</button>
            <button name="remove" title="Remove"
                class="ui-icon ui-icon-circle-close ui-corner-all">X</button>
            <button name="refresh" title="Refresh"
                class="ui-icon ui-icon-refresh ui-corner-all">R</button>
            <button name="edit" title="Edit"
                class="ui-icon ui-icon-pencil ui-corner-all">E</button>
        </div>
        <div class="ui-widget-content">
        </div>

        <div class="widget-settings">
            <form>
            <fieldset name="common">
                <legend>Widget</legend>
                <li>
                    <label>Title:</label>
                    <input name="name" class="settings-field"/>
                </li>
                <li>
                    <label>Color:</label>
                    <select name="color" class="settings-field">
                        <option value="">None</option>
                    </select>
                </li>
                <li>
                    <label>Reload:</label>
                    <select name="refresh" class="settings-field">
                        <option value="0">no refresh</option>
                        <option value="15">every 15 seconds</option>
                        <option value="60">every minute</option>
                        <option value="300">every 5 minutes</option>
                        <option value="900">every 15 minutes</option>
                        <option value="1800">every 30 minutes</option>
                    </select>
                </li>
            </fieldset>
            </form>

        </div>
    </div>

    <div id="widget-error-template">
        <p class="error">
        Error occured: <span class="error-text"></span>
        </p>
    </div>

    <!-- Text widget -->
    <fieldset id="widget-settings-template-text">
        <legend>Text</legend>
        <textarea style="width: 100%; height: 10em;" name="text"
            class="custom-field"></textarea>
    </fieldset>

    <!-- URL widget -->
    <div id="widget-template-url">
        <iframe target="new" class="widget_iframe" frameborder="0"
            scrolling="auto"></iframe>
    </div>

    <fieldset id="widget-settings-template-url">
        <legend>URL options</legend>
        <li>
            <label>URL:</label>
            <input name="url" class="custom-field"/>
        </li>

        <li>
            <label>Selector:</label>
            <input name="selector" class="cudtom-field"/>
        </li>
        <li>
            <small>Supported syntax:
                <a target="_new" href="http://www.w3.org/TR/CSS2/selector.html#pattern-matching">CSS</a>,
                <a target="_new" href="http://api.jquery.com/category/selectors/">jQuery</a>
            </small>
        </li>

        <li>
            <"button" name="loadurl">Load URL</button>
        </li>
    </fieldset>

    <!-- RSS widget -->
    <fieldset id="widget-settings-template-rss">
        <legend>RSS options</legend>
        <li>
            <label>URL:</label>
            <input name="url" class="custom-field"/>
        </li>
        <li>
            <label>Username:</label>
            <input name="username" class="custom-field"/>
        </li>
        <li>
            <label>Password:</label>
            <input type="password" name="password" class="custom-field"/>
        </li>
    </fieldset>

    <div id="widget-template-rss" class="rss">
        <h2><a target="_new"></a></h2>
    </div>

    <div id="rss-template-item">
        <div class="rss-title">
            <h3><a target="_new"></a></h3>
        </div>
        <div class="updated">
            <p>
            Updated: <span class="updated-text"></span>
            </p>
        </div>
        <div class="description-text">
        </div>
    </div>

    <!-- Bugs widget -->
    <fieldset id="widget-settings-template-bugs">
        <legend>Bug list options</legend>
        <li class="buglist-query-entry">
            <label>Query string:</label>
            <input name="query" type="text" class="custom-field" /><br />
            <input name="editquery" type="button" value="Edit query" />
        </li>
        <li>
            <label>Columns:</label><b>* Not supported yet *</b>
        </li>
    </fieldset>

</div> <!-- /hide templates -->

[% PROCESS global/footer.html.tmpl %]
