[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Example Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2009
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s): 
  #   Allan Savolainen <ext-jari.a.savolainen@nokia.com>
  #%]

  [% widget_debug %]

  <h1>Dashboard overlay</h1>
  
  <div class="overlay_box" id="overlay_save_box">
  	<h2>Save current overlay:</h2>
		<table>
			<tr>
				<th align="right" valign="top">
					Overlay name:
				</th>
				<td valign="top">
					<input class="overlay_field" id="overlay_name" type="text" value="" size="32" maxlength="32">
				</td>
			</tr>
			<tr>
				<th align="right" valign="top">
					Description:
				</th>
				<td valign="top">
					<input class="overlay_field" id="overlay_description" type="text" value="" size="32" maxlength="64">
				</td>
			</tr>
			<tr>
				<th align="right" valign="top">
					[% IF is_admin %]
						<input id="overlay_shared" type="checkbox"> Shared 
					[% ELSE %]
						<input id="overlay_shared" type="checkbox"> Shared <small><br>requires<br>admin<br>approval</small>
					[% END %]
				</th>
				<td align="right" valign="top">
					<input id="overlay_save_button" type="submit" value="save">
				</td>
			</tr>
		</table>
	</div>

	<div class="overlay_box" id="overload_load_box">
		<h2>Select overlay to load:</h2>
		<table>
			[% FOREACH user IN overlays.keys.nsort %]
				[% FOREACH key IN overlays.$user.keys.sort %]
					<tr>
						<th align="right" valign="top">
						<a class="overlay_load_link" href="page.cgi?id=dashboard_ajax.html&action=load_overlay&overlay_user_id=[% overlays.$user.$key.user_id %]&overlay_id=[% overlays.$user.$key.overlay_id %]">[% overlays.$user.$key.name %]</a>
						[% IF overlays.$user.$key.user_id == user_id || overlays.$user.$key.user_id==0 && is_admin %]
							[<a class="overlay_delete_link" href="page.cgi?id=dashboard_ajax.html&action=delete_overlay&overlay_user_id=[% overlays.$user.$key.user_id %]&overlay_id=[% overlays.$user.$key.overlay_id %]">x</a>]
						[% END %]:&nbsp;
						</th>
						<td valign="top">
							[% overlays.$user.$key.description %]
						</td>
					</tr>
				[% END %]
			[% END %]
		</table>
	</div>

	[% IF is_admin %]
		<div class="overlay_box" id="overload_pending_box">
			<h2>Pending overlays:</h2>
			<table>
				[% FOREACH user IN pending.keys.nsort %]
					[% FOREACH key IN pending.$user.keys.sort %]
						<tr>
							<th align="right" valign="top">
							<a class="overlay_load_link" href="page.cgi?id=dashboard_ajax.html&action=load_overlay&overlay_user_id=[% pending.$user.$key.user_id %]&overlay_id=[% pending.$user.$key.overlay_id %]">[% pending.$user.$key.name %]</a>
							[% IF pending.$user.$key.user_id == user_id || pending.$user.$key.user_id==0 && is_admin %] 
								[<a class="overlay_publish_link" href="page.cgi?id=dashboard_ajax.html&action=publish_overlay&overlay_user_id=[% pending.$user.$key.user_id %]&overlay_id=[% pending.$user.$key.overlay_id %]">ok</a>]
								[<a class="overlay_delete_link" href="page.cgi?id=dashboard_ajax.html&action=delete_overlay&overlay_user_id=[% pending.$user.$key.user_id %]&overlay_id=[% pending.$user.$key.overlay_id %]">x</a>]
							[% END %]:&nbsp;
							</th>
							<td valign="top">
								[% pending.$user.$key.description %] <small>([% pending.$user.$key.user_login %])</small>
							</td>
						</tr>
					[% END %]
				[% END %]
			</table>
		</div>
	[% END %]

	<script>
		$('#overlay_save_button').click(function() {
			var name = $('#overlay_name').val();
			var description = $('#overlay_description').val();
			var shared =  ($('#overlay_shared').attr('checked'))?'true':'false';
			if (name.length>4) {
				$('#overlay_save_box').children().remove();
				$("<div align='center'><img class='loader' src='extensions/Dashboard/web/css/img/ajax-loader.gif'></div>").prependTo('#overlay_save_box');
				$.colorbox.resize();

				var post = 'action=save_overlay';
				post += '&overlay_name=' + encodeURIComponent(name);
				post += '&overlay_description=' + encodeURIComponent(description);
				post += '&overlay_shared=' + encodeURIComponent(shared);
    
				$.post("page.cgi?id=dashboard_ajax.html", post, function(result) {
						$('#overlay_save_box').children().remove();
						$('#overlay_save_box').prepend(result);
						$.colorbox.resize();
				});

			}
			else {
				alert('Name is too short!');
			}
		});

		$('.overlay_load_link').click(function(event) {
				event.preventDefault(); 
				var url = $(this).attr('href');
				$('#overload_load_box').children().remove();
				$("<div align='center'><img class='loader' src='extensions/Dashboard/web/css/img/ajax-loader.gif'></div>").prependTo('#overload_load_box');
				$.colorbox.resize();
				$.post(url, function(result) {
						$('#overload_load_box').children().remove();
						$('#overload_load_box').prepend(result);
						$.colorbox.resize();
						$(document).bind('cbox_cleanup', function() {
								document.location = 'page.cgi?id=dashboard.html&action=reload';
        		});
				});
		});
		
		$('.overlay_delete_link').colorbox();
		$('.overlay_publish_link').colorbox();
	</script>
