[% USE Bugzilla %]

$('<li class="item"><label>URL:</label><input id="widget[% widget.id %]_url" value="1"></li>').appendTo('#widget[% widget.id %] .edit-box');

$('<li class="item"><label>Reload:</label><select id="widget[% widget.id %]_refresh"><option value="0">no refresh</option><option value="15">every 15 seconds</option><option value="60">every minute</option><option value="300">every 5 minutes</option><option value="900">every 15 minutes</option><option value="1800">every 30 minutes</option></select></li>').appendTo('#widget[% widget.id %] .edit-box');
function widget[% widget.id %]_refresh(){
	$('#widget[% widget.id %]').children('.widget-content').children('.widget_inner').html("<div align='center'><img class='loader' src='extensions/Dashboard/web/css/img/ajax-loader.gif'></div>");
	widget[% widget.id %]_load_rss($('#widget[% widget.id %]_url').val().trim(),$('#widget[% widget.id %]_username').val().trim(),$('#widget[% widget.id %]_password').val().trim());
}
[% IF widget.refresh>0 %]
	$('#widget[% widget.id %]_refresh').val([% widget.refresh %])
	$('#widget[% widget.id %]_refresh').trigger("change");
[% END %]
widget['refresh'] = '[% widget.refresh %]';

$('#widget[% widget.id %]').find('.maximize').remove();

$('#widget[% widget.id %] .widget-head .refresh').mousedown(function(e) {
  e.stopPropagation();
}).click(function() {
  $('#widget[% widget.id %]').children('.widget-content').children('.widget_inner').html("<div align='center'><img class='loader' src='extensions/Dashboard/web/css/img/ajax-loader.gif'></div>");
  widget[% widget.id %]_load_rss($('#widget[% widget.id %]_url').val());
})

</script>
<div align='center'><img class='loader' src='extensions/Dashboard/web/css/img/ajax-loader.gif'></div>
<script>
var y = $("#widget[% widget.id %] .widget-content").height();
if (y==1) {
  $("#widget[% widget.id %] .widget-content").height(70);
}

$("#widget[% widget.id %]").unbind('vertical_resize');
$("#widget[% widget.id %]").bind('vertical_resize', function(event) {
  var y = $("#widget[% widget.id %] .widget-content").height() - 3;
  $('#widget[% widget.id %]').children('.widget-content').children('.widget_inner').children('.rss').height(y);
});

function widget[% widget.id %]_resize() {
  var y = $("#widget[% widget.id %] .widget-content").height() - 3;
  $('#widget[% widget.id %]').children('.widget-content').children('.widget_inner').children('.rss').height(y);	
}

function widget[% widget.id %]_load_rss(url,username,password) {

	var url = 'buglist.cgi?bug_status=NEW&bug_status=ASSIGNED&bug_status=NEED_INFO&bug_status=REOPENED&bug_status=WAITING&bug_status=RESOLVED&bug_status=RELEASED&email1=[% user.login FILTER url_quote %]&emailassigned_to1=1&emailreporter1=1&emailtype1=exact&field0-0-0=bug_status&field0-0-1=reporter&query_format=advanced&type0-0-0=notequals&type0-0-1=equals&value0-0-0=UNCONFIRMED&value0-0-1=[% user.login FILTER url_quote %]&title=Bug%20List&ctype=atom';

	jQuery.getFeed({
		url:url,
		error: function(error) {
			$('#widget[% widget.id %]').children('.widget-content').children('.widget_inner').html('<p class="error">Feed returned error: '+error+'</p>');
		},
		success: function(feed) {
			
			var feed_id = $.md5(url);
			var feed_store = $.Storage.get(feed_id);

			if (!feed_store) feed_store = '';
							
			if (feed.link.length>0) {
				var html = '<h2><a href="' + feed.link + '">' + feed.title + '</a></h2>';
			}
			else
			{
				var html = '<h2>' + feed.title + '</h2>';
			}
			
			feed_store_new = '0';
	
			for(var i = 0; i < feed.items.length && i < [% Param('dashboard_rss_max_items') %]; i++) {
				var item = feed.items[i];
				var uniqid = $.md5(item.link+item.title+item.updated+item.id);
				var re_displayed = new RegExp("\\|"+uniqid+":d","");
				var re_clicked = new RegExp("\\|"+uniqid+":c","");
				var item_class='';

				if (re_clicked.test(feed_store))
				{
					item_class='rss_clicked';
					item_color='[% Param('dashboard_rss_color_read') %]';
					feed_store_new += '|' + uniqid + ':c';
				}
				else if (re_displayed.test(feed_store)) 
				{
					item_class='rss_displayed';
					item_color='[% Param('dashboard_rss_color_unread') %]';
					feed_store_new += '|' + uniqid + ':d';
				}
				else
				{
					item_class='rss_new';
					item_color='[% Param('dashboard_rss_color_new') %]';
					feed_store_new += '|' + uniqid + ':d';
				}
				
				html += '<div id="'+uniqid+'" style="background-color:'+item_color+';" class="rss_title '+item_class+'"><a title="open in popup" class="open_popup" href="' + item.link + '"></a><a title="open link" class="open_link" href="' + item.link + '"></a><h3>' + item.title + '</h3></div>';
					 
				html += '<div class="updated"><p>' + item.updated + '</p></div>';
				
				var description = item.description.replace(/^<.+>/,'');
				html += '<div>' + description.replace(/<.+/g,'') + '</div>';
				
			}

			$.Storage.set(feed_id, feed_store_new);
			$('#widget[% widget.id %]').children('.widget-content').children('.widget_inner').html('<div id="'+feed_id+'"class="rss">'+html+'</div>');
			$('#'+feed_id).children().children('a.open_popup').click(function(event) {
					event.preventDefault();
					var feed_store = $.Storage.get(feed_id);
					feed_store += '|' + $(this).parent().attr('id')+":c";
					$.Storage.set(feed_id, feed_store);
					$(this).parent().attr('class','rss_title rss_clicked');
					$(this).parent().css('background-color','[% Param('dashboard_rss_color_read') %]');
					$(this).colorbox({width:"80%", height:"80%", iframe:true});
			});
			$('#'+feed_id).children().children('a.open_link').click(function(event) {
					event.preventDefault();
					var feed_store = $.Storage.get(feed_id);
					feed_store += '|' + $(this).parent().attr('id')+":c";
					$.Storage.set(feed_id, feed_store); 
					$(this).parent().attr('class','rss_title rss_clicked');
					$(this).parent().css('background-color','[% Param('dashboard_rss_color_read') %]');
					window.open($(this).attr('href'));
			});
			var y = $("#widget[% widget.id %] .widget-content").height() - 3;
			$('#widget[% widget.id %]').children('.widget-content').children('.widget_inner').children('.rss').height(y);	
		}
	});

}

$('#widget[% widget.id %]_refresh').change(function() {
  $("select option:selected").each(function() {
    if (Widgets['widget[% widget.id %]']['refresh_id'] != 0) clearInterval(Widgets['widget[% widget.id %]']['refresh_id']);
    var refresh_timer = $('#widget[% widget.id %]_refresh').val();
    Widgets['widget[% widget.id %]']['refresh'] = refresh_timer;
    if (refresh_timer > 0) {
      Widgets['widget[% widget.id %]']['refresh_id'] = setInterval('widget[% widget.id %]_refresh();', refresh_timer * 1000);
    }
    else Widgets['widget[% widget.id %]']['refresh_id'] = 0;
  });
}).trigger('change');

$('#widget[% widget.id %]_username').keyup(function(e) {
  Widgets['widget[% widget.id %]']['username'] = $.trim( $(this).val() );
});
$('#widget[% widget.id %]_password').keyup(function(e) {
  Widgets['widget[% widget.id %]']['password'] = $.trim( $(this).val() );
});

$('#widget[% widget.id %]_url').keyup(function(e) {
  Widgets['widget[% widget.id %]']['URL'] = $.trim( $(this).val() );
//  if (e.keyCode == 13) {
//  }
});
$('#widget[% widget.id %]_load').click(function(e) {
 	var y = $("#widget[% widget.id %] .widget-content").height();
	if (y==1) $("#widget[% widget.id %] .widget-content").height(400);
	var url = $.trim( $('#widget[% widget.id %]_url').val() );
	var username = $.trim( $('#widget[% widget.id %]_username').val() );
	var password = $.trim( $('#widget[% widget.id %]_password').val() );
	widget[% widget.id %]_load_rss(url,username,password);
});

[% IF widget.username %]
  widget['username'] = $.trim('[% widget.username %]');
[% ELSE %]
	widget['username'] = '';
[% END %]
$('#widget[% widget.id %]_username').val(widget['username']);

[% IF widget.password %]
  widget['password'] = $.trim('[% widget.password %]');
[% ELSE %]
	widget['password'] = '';
[% END %]
$('#widget[% widget.id %]_password').val(widget['password']);

[% IF widget.URL %]
  widget['URL'] = $.trim('[% widget.URL %]');
  $('#widget[% widget.id %]_url').val(widget['URL']);
  widget[% widget.id %]_load_rss(widget['URL'],widget['username'],widget['password']);
[% END %]

if (y==1) {
//  thisWidgetSettings.resized=true;
//  y=Math.min(Math.max($('#widget[% widget.id %]').children('.widget-content').children('.widget_inner').children('.rss').height(),358),128);
}
$("#widget[% widget.id %] .widget-content").height(y);
$('#widget[% widget.id %]').children('.widget-content').children('.widget_inner').children('.rss').height(y);
$("#widget[% widget.id %] .widget-content").trigger("resize");


