[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Unified Dashboard Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s): 
  #   Allan Savolainen <ext-jari.a.savolainen@nokia.com>
  #%]

$('<li class="item"><label>URL:</label><input id="widget[% widget.id %]_url" value=""></li>').appendTo('#widget[% widget.id %] .edit-box');
$('<li class="item"><label>Load:</label><input type="button" id="widget[% widget.id %]_load" value="Load URL"></li>').appendTo('#widget[% widget.id %] .edit-box');
$('<li class="item"><label>Reload:</label><select id="widget[% widget.id %]_refresh"><option value="0">no refresh</option><option value="15">every 15 seconds</option><option value="60">every minute</option><option value="300">every 5 minutes</option><option value="900">every 15 minutes</option><option value="1800">every 30 minutes</option></select></li>').appendTo('#widget[% widget.id %] .edit-box');

[% IF widget.refreshable %]
  function widget[% widget.id %]_refresh(){
    $('#widget[% widget.id %]_iframe').attr("src",$("#widget[% widget.id %]_iframe").attr("src"));
  }
  [% IF widget.refresh>0 %]
    $('#widget[% widget.id %]_refresh').val([% widget.refresh %])
    $('#widget[% widget.id %]_refresh').trigger("change");
  [% END %]
  widget['refresh'] = '[% widget.refresh %]';
[% END %]

function widget[% widget.id %]_get_url(url) {

  if (url.length<4) {
    $('#widget[% widget.id %]').children('.widget-content').children('.widget_inner').html("");		
    return false;
  }

  $("#widget[% widget.id %] .widget-content .widget_inner").html('<iframe id="widget[% widget.id %]_iframe" class="widget_iframe" frameborder="0" scrolling="auto" src="' + url + '"></iframe>');

  $(window).unbind("resize.widget[% widget.id %]");
  $(window).bind("resize.widget[% widget.id %]", function() {
    var x = $("#widget[% widget.id %] .widget-content").width();
    $("#widget[% widget.id %]_iframe").width(x);

    if ($('#maximized').parent().parent().attr("id") == "widget[% widget.id %]")
      var y = $(window).height() - 15;
    else
      var y = $("#widget[% widget.id %] .widget-content").height() - 5;

    $("#widget[% widget.id %]_iframe").height(y);
  });
  $("#widget[% widget.id %] .widget-content").unbind("resize.widget[% widget.id %]");
  $("#widget[% widget.id %] .widget-content").bind("resize.widget[% widget.id %]", function() {
    var y = $("#widget[% widget.id %] .widget-content").height() - 5;
    $("#widget[% widget.id %]_iframe").height(y);
  });
  $(window).trigger("resize");
  $("#widget[% widget.id %] .widget-content").trigger("resize");

  return false;
}


$('#widget[% widget.id %] .widget-head .refresh').mousedown(function(e) {
  e.stopPropagation();
}).click(function() {
  $('#widget[% widget.id %]_iframe').attr("src", $("#widget[% widget.id %]_iframe").attr("src"));
})

$('#widget[% widget.id %]_load').click(function(e) {
    var y = $("#widget[% widget.id %] .widget-content").height();
    if (y==1) $("#widget[% widget.id %] .widget-content").height(400);
    widget[% widget.id %]_get_url($('#widget[% widget.id %]_url').val());
});


$('#widget[% widget.id %]_url').keyup(function(e) {
  Widgets['widget[% widget.id %]']['URL'] = $(this).val();
  if (e.keyCode == 13) {
    var y = $("#widget[% widget.id %] .widget-content").height();
    if (y==1) $("#widget[% widget.id %] .widget-content").height(400);
    widget[% widget.id %]_get_url($(this).val());
  }
});

$('#widget[% widget.id %]_refresh').change(function() {
  $("select option:selected").each(function() {
    if (Widgets['widget[% widget.id %]']['refresh_id'] != 0) clearInterval(Widgets['widget[% widget.id %]']['refresh_id']);
    var refresh_timer = $('#widget[% widget.id %]_refresh').val();
    Widgets['widget[% widget.id %]']['refresh'] = refresh_timer;
    if (refresh_timer > 0) {
      Widgets['widget[% widget.id %]']['refresh_id'] = setInterval('widget[% widget.id %]_refresh();', refresh_timer * 1000);
    }
    else Widgets['widget[% widget.id %]']['refresh_id'] = 0;
  });
}).trigger('change');

[% IF widget.URL %]
  widget[% widget.id %]_get_url('[% widget.URL %]');
  $('#widget[% widget.id %]_url').val('[% widget.URL %]');
  widget['URL'] = '[% widget.URL %]';
[% END %]
