#overlay {
    width: 100%;
}

#overlay-top{
    height: 20px;
}

#overlay-header .resize-guide {
    background: url(images/sizer_mid.png) repeat-x;
    height:16px;
    position: relative;
    content: "";
}

#overlay-header .resize-guide:after {
    background: url(images/sizer_left.png) no-repeat;
    height:16px;
    width:16px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
}

#overlay-header .resize-guide:before {
    background: url(images/sizer_right.png) no-repeat;
    height:16px;
    width:16px;
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
}

#overlay-columns .overlay-column {
    height: 200px;
}

.overlay-column {
    border: 1px solid transparent;
    vertical-align: top;
}
.overlay-column-hint {
    border: 1px dotted gray;
    border-radius: 5px;
}

.loader {
    background: url(images/ajax-loader.gif) repeat-x;
}

div.widget {
    padding: 2px;
}
.widget-content {
    margin: 0px;
    background: white;
    color: #000;
    overflow: auto;
    height: 100%;
}

.widget-settings li {
    list-style-type: none;
}

.widget-settings label {
    width: 100px;
    float: left;
}

.widget-title {
    color: #000;
    overflow: hidden;
    cursor: move;
    width: 100%;
    line-height: 1.5em;
}

.widget-buttons button {
    float: right;
    width: 1em;
    height: 1em;
    margin: 0.1em;
}

#buttons button {
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
}
#buttons select {
    height: 1.5em;
    vertical-align: bottom;
}

.ui-icon.icon-newoverlay {
    /* jQuery UI document */
    background-position: -32px -96px;
}
.ui-icon.icon-saveoverlay {
    /* jQuery UI disk */
    background-position: -96px -112px;
}
.ui-icon.icon-saveoverlayas {
    /* jQuery UI disk */
    background-position: -96px -112px;
}
.ui-icon.icon-openoverlay {
    /* jQuery UI folder open */
    background-position: -16px -96px;
}

.ui-icon.icon-addwidget {
    /* jQuery UI plus */
    background-position: -16px -128px;
}

.ui-icon.icon-addcolumn {
    background-image: url(images/icon_add_column.png);
}
.ui-icon.icon-resetcolumns {
    background-image: url(images/icon_reset_columns.png);
}
.ui-icon.icon-removecolumn {
    background-image: url(images/icon_del_column.png);
}


.widget-header-maximized {
    padding: 4px;
    text-align: center;
}
.widget-max {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 9990;
    background: #fff;
}

.widget_iframe {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.widget .rss h1,
.widget .rss h2,
.widget .rss h3,
.widget .rss p {
    color: #000;
}

.widget .rss h2 a {
    border: 1px solid #ccc;
    display: block;
    padding: 5px;
}

.widget .rss_title {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px dotted #ccc;
    display: block;
    padding: 5px;
}

.widget .rss div {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 5px;
}

.widget .rss a.open_popup {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    float: right;
    background: url(images/icon_rss_popup.png) center left no-repeat;
}

.rss {
    font-size: smaller;
}

.widget .rss a:hover.open_popup {
    background: url(images/icon_rss_popup_b.png) center left no-repeat;
}

.widget .rss a.open_link {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    float: right;
    background: url(images/icon_rss_link.png) center left no-repeat;
}

.widget .rss a:hover.open_link {
    background: url(images/icon_rss_link_b.png) center left no-repeat;
}

